/bin/
*.class
**/.idea/*
*.backup
*~
**/stack.yaml.lock
**/.stack-work/*

#vim
## Swap
*~
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

## Session
Session.vim

tags


.project
.classpath

**/.settings/org.eclipse.jdt.core.prefs
**/.settings/org.eclipse.m2e.core.prefs