<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="springFirstTest" class="com.my.company.SampleBean">
        <property name = "sampleProperty" value = "a-sample-property-that-is-injected-from-xml-file"/>
    </bean>
</beans>

